/*
    begone margin
*/

* {
    margin: 0px;
}

/*

    fonts

*/

@font-face {
    font-family: verdeModerna;
    src: url(../fonts/verdemoderna.woff);
}

@font-face {
    font-family: juliusSansOne;
    src: url(../fonts/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2);
}

@font-face {
    font-family: libreBakersville;
    src: url(../fonts/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2);
}

@font-face {
    font-family: libreBakersvilleItalic;
    src: url(../fonts/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2);
}

/*

    divs

*/

#banner-div {
    background-size: cover;
    width: 100%;
    background-color: transparent;
}

#header-div {
    background-image: url(../images/huntington.jpg);
    background-color: rgb(19,67,71);
}

#view-designs-container {
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
}

#view-designs-container > p {
    color: rgb(221, 228, 224);
}

#paragraph2-div {
    background-color: rgba(138,188,159,0.5);
    background-image: url(../images/bamboo.png);
}

#blank-div {
    background-color: rgb(221, 228, 224);
}

#credits-div {
    background-image: url(../images/koi.jpg);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

#links-div {
    background-color: rgba(138,188,159,0.6);
    background-image: url(../images/bamboo.png);
    display: grid;
}

#links-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#links-grid-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#links-grid-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#links-grid-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#icon-links {
    background-color: rgb(19,67,71);
}

#icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#icon-container > a {
    padding: 0 30px;
    font-size: 46px;
}

#fonts-div {
   background-color: rgb(221, 228, 224);
}

#fonts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paragraph-container {
    width: 90%;
}

/*

    images

*/

#zen-circle {
    width: 50px;
    display: block;
    margin: 10px auto 0;
    opacity: 0.4;
}

/*

    text

*/


li {
    list-style: none;
    padding: 15px;
    width: 100%;
}

#view-designs-p {
    text-align: center;
}

#credits-div > p {
    text-align: center;
    width: 80%;
    line-height: 1.6;
}

#title {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

#subtitle {
    padding: 5px 0 26px;
    font-size: 18px;
    text-align: center;
}

#download-p {
    display: none;
}

.verde-moderna {
    font-family: verdeModerna;
    font-size: 30px;
}

.text-padding {
    padding: 0px 35px;
}

.julius-sans-one {
    font-family: juliusSansOne;
}

.libre-bakersville-italic {
    font-family: libreBakersvilleItalic;
}

.libre-bakersville {
    font-family: libreBakersville;
}

.underline-dotted {
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.download-icon {
    background-color: rgb(221, 228, 206);
    color: rgb(163, 176, 148);
    margin: 5px;
    padding: 2px 3px;
    border-radius: 2px;
}

.download-text {
    color: rgb(163, 176, 148);
    text-decoration: none;
}

.font-size-p{
    font-size: 13px;
    line-height: 2;
}

.font-size-h2 {
    font-size: 18px;
    line-height: 2;
    padding-top: 20px;
}

.font-size-h3 {
    font-size: 16px;
}

.icon-links {
    padding: 0px 10px;
}

.no-underline {
    text-decoration: none;
}

.list-underline {
    border-bottom: 1px solid rgba(201, 208, 193, 0.8);
}

.list-overline {
    border-top: 1px solid rgba(201, 208, 193, 0.8);
}

.dark-green {
    color: rgb(19,67,71);
}

.mint-green {
    color: rgba(209, 211, 210, 0.7);
    text-decoration: none;
}

.links-teal {
    color: rgb(67, 154, 153);
    text-decoration: none;
}

.links-light-green {
    color: rgba(229, 240, 234, 0.892);
    text-decoration: none;
}

.font-link {
    color: rgb(79, 101, 81);
}

.font-names {
    color: rgb(71, 79, 48);
    font-size: 12px;
}

.by {
    font-size: 12px;
    color: rgba(129, 136, 122,0.6);
}

.spacing {
    line-height: 0.8;
}

.font-underline {
    border-bottom: 1px solid rgba(201, 208, 193, 0.8);
}  

.font-overline {
    border-top: 1px solid rgba(201, 208, 193, 0.8);
}

.links-underline {
    border-bottom: 1px solid rgba(148, 150, 146, 0.4);
}

.links-overline {
    border-top: 1px solid rgba(148, 150, 146, 0.4);
}

.link-list-underline {
    border-bottom: 1px solid rgba(148, 150, 146, 0.4);
}

.link-list-no-underline {
    border-bottom: none;
}

/* 

    media queries

*/

@media only screen and (min-width: 500px) {

    #zen-circle {
        position: relative;
        top: 50px;
        right: 150px;
    }
}

@media only screen and (min-width: 600px) {

    #download-p {
        display: block;
    }

    #zen-circle {
        position: relative;
        top: 70px;
        right: 220px;
        margin: 0 auto;
        width: 80px;
    }

    #title {
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 37px;
    }
    
    #subtitle {
        padding: 5px 0 26px;
        text-align: center;
    }
}

@media only screen and (min-width: 1130px) { 

    #download-p {
        display: block;
    }

    #main-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #header-div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #view-designs-div{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #paragraph1-div {
        grid-column: 1 / 2; 
        grid-row: 2 / 3;
    }

    #paragraph2-div {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #paragraph3-div{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #credits-div {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    #credits-container {
        text-align: center;
    }

    #icon-links {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

    #fonts-div {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        align-items: center;
    }

    #links-div {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: flex;
        align-items: center;
    }

    #blank-div {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    
    #view-designs-div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.1);
    }

    #zen-circle {
        position: relative;
        top: 70px;
        right: 220px;
        margin: 0 auto;
        width: 130px;
    }

    #title {
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 50px;
        position: relative;
        bottom: 50px;
        left: 100px;
    }
    
    #subtitle {
        padding: 5px 0 26px;
        text-align: center;
        position: relative;
        bottom: 50px;
        left: 30px;
        font-size: 24px;
    }

    #icon-container > a {
        padding: 0 52.5px;
        font-size: 72px;
    }

    #icon-container {
        padding: 50px;
    }

    #credits-div {
        background-image: url(../images/koi.jpg);
        width: 100%;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        line-height: 1.8;
    }

    #fonts {
        display: block;
    }

    #links-div {
        display: block;
    }

    #links-grid-1 {
        padding-top: 140px;
    }

    .list-underline {
        border-bottom: none;
    }

    .link-list-underline {
        border-bottom: none;
    }

    .link-list-no-underline {
        border-bottom: 1px solid rgba(148, 150, 146, 0.4);
    }
}

