* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    min-width: 320px;
}

.navbar {
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 100%;
    min-width: 320px;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 84, 104);
    background-image: linear-gradient(rgb(99, 104, 125),rgb(64, 68, 84));
    font-size: 40px;
    transition: background-image 1000ms ease-in;
}

.navbar-light {
    border-bottom: 1px solid rgb(114, 106, 97);
    width: 100%;
    min-width: 320px;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 198, 191);
    background-image: linear-gradient(rgb(203, 198, 191),rgb(152, 147, 141));
    font-size: 40px;
    transition: background-image 1000ms ease-in;
}

.navbar > a {
    color: rgb(230, 230, 230);
    padding: 6px 30px;
    transition: color 500ms ease-in 100ms;
}

.navbar > a:hover {
    color: rgb(167, 181, 199);
    padding: 6px 30px;
}

.navbar-light > a {
    color: rgb(114, 106, 97);
    padding: 6px 30px;
    transition: color 500ms ease-in 100ms;
}

.navbar-light > a:hover {
    color: rgb(227, 220, 211);;
    padding: 6px 30px;
}

.transparent-wrapper {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(2, 2, 2);
    filter: grayscale(70%);
    min-width: 320px;
    transition: background-image 3100ms ease-in 300ms;
    max-height: 5000vh;
}

.transparent-wrapper-light {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(2, 2, 2);
    filter: grayscale(30%);
    min-width: 320px;
    transition: background-image 3100ms ease-in 300ms;
    max-height: 5000vh;
}

.container-div {
    background-color: rgba(97, 97, 97, 0.3);
    background-blend-mode: darken;
    width: 100%;
    min-height: 80vh;
    max-height: 500vh;
    min-width: 320px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-paragraph {
    text-align: justify;
    text-indent: 20px;
    padding: 6px 20px;
}

.content-heading {
    font-size: 28px;
    margin-top: 20px;
}

.content-div {
    width: 400px;
    background-color: rgba(110, 110, 110, 0.6);
    color: rgb(230, 230, 230);
    background-blend-mode: darken;
    min-height: 300px;
    padding: 10px;
    max-height: 600vh;
    margin: 40px;
    text-shadow: 1px 1px rgb(40, 40, 40);
    border-radius: 3px;
}

.piggy-bank-icon {
    color: rgb(230, 230, 230);
    font-size: 40px;
    margin: 10px;
    transition: color 500ms ease-in 100ms;
}

.piggy-bank-icon:hover {
    color: rgb(53, 157, 237);
}

.piggy-bank-icon-light {
    color: rgb(230, 230, 230);
    font-size: 40px;
    margin: 10px;
    transition: color 500ms ease-in 100ms;
}

.piggy-bank-icon-light:hover {
    color: rgb(194, 167, 137);
}

.links {
    text-decoration: none;
    color: rgb(25, 136, 255);
    text-shadow: 1px 1px rgb(40, 40, 40);
    transition: color 500ms ease-in 100ms;
}

.links:hover{
    color: rgb(111, 181, 255);
}

.links-light {
    text-decoration: none;
    color: rgb(169, 141, 111);
    text-shadow: 1px 1px rgb(40, 40, 40);
    transition: color 500ms ease-in 100ms;
}

.links-light:hover {
    color: rgb(211, 195, 177);
}

.calculator-form {
    margin-left: 5px;
    margin-top: 10px;
}

.calculator-results {
    padding: 10px;
    font-size: 16px;
}

.state-data-results {
    display: grid;
    grid-template: 1fr 1fr;
    padding: 0 40px 10px;
}

.state-data-results-grid-1 {
    grid-column: 1;
    grid-row: 1;
}

.state-data-results-grid-2 {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

.state-data-results-grid-3 {
    grid-column: 1;
    grid-row: 2;
}

.state-data-results-grid-4 {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
}

.state-data-results-grid-5 {
    grid-column: 1;
    grid-row: 3;
}

.state-data-results-grid-6 {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
}

.state-data-results-grid-7 {
    grid-column: 1;
    grid-row: 4;
}

.state-data-results-grid-8 {
    grid-column: 2;
    grid-row: 4;
    text-align: left;
}

.state-data-results-grid-9 {
    grid-column: 1;
    grid-row: 5;
}

.state-data-results-grid-10 {
    grid-column: 2;
    grid-row: 5;
    text-align: left;
}

.state-data-results-grid-11 {
    grid-column: 1;
    grid-row: 6;
}

.state-data-results-grid-12 {
    grid-column: 2;
    grid-row: 6;
    text-align: left;
}

.state-data-results-grid-13 {
    grid-column: 1;
    grid-row: 7;
}

.state-data-results-grid-14 {
    grid-column: 2;
    grid-row: 7;
    text-align: left;
}

.state-data-results-grid-15 {
    grid-column: 1 / 3;
    grid-row: 8;
    padding-top: 20px;
}

.state-data-results > span {
    font-size: 16px;
    padding: 2px 0;
}

.footer {
    border-top: 1px solid rgb(230, 230, 230);
    width: 100%;
    min-width: 320px;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(79, 84, 104);
    background-image: linear-gradient(rgb(99, 104, 125),rgb(64, 68, 84));
    transition: background-image 1000ms ease-in;
}

.footer-light {
    border-top: 1px solid rgb(114, 106, 97);
    width: 100%;
    min-width: 320px;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(203, 198, 191);
    background-image: linear-gradient(rgb(203, 198, 191),rgb(152, 147, 141));
    transition: background-image 1000ms ease-in;
}

.footer > a {
    padding: 6px 30px;
    color: rgb(230, 230, 230);
    transition: color 500ms ease-in 100ms;
}

.footer > span {
    padding: 6px 30px;
    color: rgb(230, 230, 230);
    transition: color 500ms ease-in 100ms;
}

.footer > a:hover {
    color: rgb(167, 181, 199);
}

.footer > span:hover {
    color: rgb(167, 181, 199);
}

.footer-light > a {
    padding: 6px 30px;
    color: rgb(114, 106, 97);
    transition: color 500ms ease-in 100ms;
}

.footer-light > span {
    padding: 6px 30px;
    color: rgb(114, 106, 97);
    transition: color 500ms ease-in 100ms;
}

.footer-light > a:hover {
    color: rgb(227, 220, 211);
}

.footer-light >span:hover {
    color: rgb(227, 220, 211);
}

.extra-padding {
    padding-bottom: 50px;
}

.less-padding {
    padding-bottom: 20px;
}

.extra-margin {
    margin-bottom: 50px;
}

.less-margin {
   margin-bottom : 20px;
}

.result-display {
    display: block;
}

.result-display-inline {
    display: inline;
}

.result-display-none {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    z-index: 1;
    visibility: hidden;
    max-width: 60px;
    min-width: 52px;
    background-color: rgba(200, 200, 200, 0);
    color: rgb(79, 84, 104);
    box-shadow: 1px 1px 5px rgb(20, 20, 20);
    font-size: 10px;
    top: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    text-align: center;
    padding: 2px; 
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    transition-property: visibility, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
}

.tooltip:hover .tooltiptext {
    z-index: 1;
    visibility: visible;
    background-color: rgba(230, 230, 230, 1);
    max-width: 60px;
    min-width: 52px;
    top: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    transition-duration: 300ms;
    transition-delay: 1200ms;
}

.tooltip .tooltiptext-light {
    z-index: 1;
    visibility: hidden;
    max-width: 60px;
    min-width: 52px;
    background-color: rgba(114, 106, 97, 0);
    box-shadow: 1px 1px 5px rgb(20, 20, 20);
    color: rgb(203, 198, 191);
    font-size: 10px;
    top: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    text-align: center;
    padding: 2px; 
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    transition-property: visibility, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
}

.tooltip:hover .tooltiptext-light {
    z-index: 1;
    visibility: visible;
    background-color: rgba(114, 106, 97, 1);
    box-shadow: 1px 1px 5px rgb(20, 20, 20);
    max-width: 60px;
    min-width: 52px;
    top: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    transition-duration: 300ms;
    transition-delay: 1200ms;
}

.tooltip .tooltiptext-bottom {
    z-index: 1;
    visibility: hidden;
    max-width: 60px;
    min-width: 52px;
    background-color: rgba(200, 200, 200, 0);
    color: rgb(79, 84, 104);
    box-shadow: 1px 1px 5px rgb(20, 20, 20);
    font-size: 10px;
    bottom: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    text-align: center;
    padding: 2px; 
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    transition-property: visibility, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
}

.tooltip:hover .tooltiptext-bottom {
    z-index: 1;
    visibility: visible;
    background-color: rgba(230, 230, 230, 1);
    max-width: 60px;
    min-width: 52px;
    bottom: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    transition-duration: 300ms;
    transition-delay: 1200ms;
}

.tooltip .tooltiptext-light-bottom {
    z-index: 1;
    visibility: hidden;
    max-width: 60px;
    min-width: 52px;
    background-color: rgba(114, 106, 97, 0);
    box-shadow: 1px 1px 5px rgb(20, 20, 20);
    color: rgb(203, 198, 191);
    font-size: 10px;
    bottom: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    text-align: center;
    padding: 2px; 
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    transition-property: visibility, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
}

.tooltip:hover .tooltiptext-light-bottom {
    z-index: 1;
    visibility: visible;
    background-color: rgba(114, 106, 97, 1);
    box-shadow: 1px 1px 5px rgb(20, 20, 20);
    max-width: 60px;
    min-width: 52px;
    bottom: 100%;
    left: 50%; 
    margin-left: -28px;
    margin-top: 2px;
    transition-duration: 300ms;
    transition-delay: 1200ms;
}

.no-side-padding {
    padding: 2px 0;
}

.slight-border-radius {
    border-radius: 3px;
}

.button-styling {
    box-shadow: 0 1px 2px rgb(20, 20, 20);
    background-color: rgb(230, 230, 230);
    color: rgb(20, 20, 20);
}

.dropbox-styling {
    color: rgb(20, 20, 20);
    background-color: rgb(230, 230, 230);
}

.textbox-styling {
    color: rgb(20, 20, 20);
    background-color: rgb(230, 230, 230);
}

.theme-toggle:hover {
    cursor: pointer;
}

.click{
    display: none;
}

.tap{
    display: inline; 
}

@media only screen and (orientation: landscape) and (min-width: 800px)  {
    .container-div {
        overflow: scroll;
    }

    .content-div {
        overflow: scroll;
    }
}

@media only screen and (min-width: 800px) {

    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .navbar {
        grid-column: 2 / 3;
        grid-row: 1;
        justify-content: flex-end;
        min-height: 8vh;
    }

    .navbar > a {
        padding: 6px 30px;
        font-size: 28px;
    }

    .footer {
        grid-column: 1 / 2;
        grid-row: 1;
        min-height: 8vh;
        justify-content: flex-start;
        border-top: none;
        border-bottom: 1px solid rgb(230, 230, 230);
    }

    .footer > a {
        padding: 6px 30px;
        font-size: 28px;
    }

    .footer > span {
        padding: 6px 30px;
        font-size: 28px;
    }

    .navbar-light {
        grid-column: 2 / 3;
        grid-row: 1;
        min-height: 8vh;
        justify-content: flex-end; 
    }

    .navbar-light > a {
        padding: 6px 30px;
        font-size: 28px;
    }

    .footer-light {
        grid-column: 1 / 2;
        grid-row: 1;
        min-height: 8vh;
        border-top: none;
        border-bottom: 1px solid rgb(114, 106, 97);
        justify-content: flex-start;
    }

    .footer-light > a {
        padding: 6px 30px;
        font-size: 28px;
    }

    .footer-light > span {
        padding: 6px 30px;
        font-size: 28px;
    }

    .transparent-wrapper {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .transparent-wrapper-light {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .container-div {
        height: 100vh;
        max-height: 200vh;
    }

    .content-div {
        width: 500px;
        max-height: 600px;
    }

    .state-data-results > span{
        font-size: 20px;
        padding: 0px 10px; 
    }

    .state-data-results > p {
        font-size: 20px;
        padding: 60px 0px;
    }

    .piggy-bank-icon {
        font-size: 100px;
        margin: 30px;
    }

    .piggy-bank-icon-light {
        font-size: 100px;
        margin: 30px;
    }

    .center-data-span {
        text-align: center;
    }

    .home-paragraph {
        text-align: justify;
        text-indent: 20px;
        padding: 10px 20px;
        font-size: 20px;
    }

    .content-heading {
        font-size: 36px;
    }

    .calculator-results {
        font-size: 20px;
    }

    .calculator-results > span {
        padding-top: 50px;
        font-size: 20px;
    }

    .click{
        display: inline;
    }
    
    .tap{
        display: none; 
    }

    input{
        font-size: 16px;
    }

    select{
        font-size: 16px;
    }

    button{
        font-size: 16px;
    }

    .tooltip .tooltiptext-bottom {
        z-index: 1;
        visibility: hidden;
        max-width: 60px;
        min-width: 52px;
        background-color: rgba(200, 200, 200, 0);
        color: rgb(79, 84, 104);
        box-shadow: 1px 1px 5px rgb(20, 20, 20);
        font-size: 10px;
        top: 100%;
        bottom: -100%;
        left: 50%; 
        margin-left: -28px;
        margin-top: 2px;
        text-align: center;
        padding: 2px; 
        border-radius: 3px;
        font-weight: bold;
        position: absolute;
        transition-property: visibility, background-color, color;
        transition-duration: 250ms;
        transition-timing-function: ease-in;
        transition-delay: 50ms;
    }
    
    .tooltip:hover .tooltiptext-bottom {
        z-index: 1;
        visibility: visible;
        background-color: rgba(230, 230, 230, 1);
        max-width: 60px;
        min-width: 52px;
        top: 100%;
        bottom: -100%;
        left: 50%; 
        margin-left: -28px;
        margin-top: 2px;
        transition-duration: 300ms;
        transition-delay: 1200ms;
    }
    
    .tooltip .tooltiptext-light-bottom {
        z-index: 1;
        visibility: hidden;
        max-width: 60px;
        min-width: 52px;
        background-color: rgba(114, 106, 97, 0);
        box-shadow: 1px 1px 5px rgb(20, 20, 20);
        color: rgb(203, 198, 191);
        font-size: 10px;
        top: 100%;
        bottom: -100%;
        left: 50%; 
        margin-left: -28px;
        margin-top: 2px;
        text-align: center;
        padding: 2px; 
        border-radius: 3px;
        font-weight: bold;
        position: absolute;
        transition-property: visibility, background-color, color;
        transition-duration: 250ms;
        transition-timing-function: ease-in;
        transition-delay: 50ms;
    }
    
    .tooltip:hover .tooltiptext-light-bottom {
        z-index: 1;
        visibility: visible;
        background-color: rgba(114, 106, 97, 1);
        box-shadow: 1px 1px 5px rgb(20, 20, 20);
        max-width: 60px;
        min-width: 52px;
        top: 100%;
        bottom: -100%;
        left: 50%; 
        margin-left: -28px;
        margin-top: 2px;
        transition-duration: 300ms;
        transition-delay: 1200ms;
    } 
    
}